<!DOCTYPE html>
<html>
<head>
    <title>GP - Gerenciamento de Processos</title>
    <!-- Adiciona o Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!-- Barra de título -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">GP - Gerenciamento de Processos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Sistema GP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cadastro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Relatórios</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Menu com botões em uma matriz de 2x3 -->
        <h1 class="my-4 text-center">Menu</h1>
        <div class="row">
            <div class="col-md-4">
                <a href="/controle-impressao" class="btn btn-primary btn-block mb-4">Controle de Impressão</a>
            </div>
            <div class="col-md-4">
                <a href="#" class="btn btn-primary btn-block mb-4">Controle de Certificado</a>
            </div>
            <div class="col-md-4">
                <a href="#" class="btn btn-primary btn-block mb-4">Controle Teste1</a>
            </div>
            <div class="col-md-4">
                <a href="#" class="btn btn-primary btn-block mb-4">Controle Teste2</a>
            </div>
            <div class="col-md-4">
                <a href="#" class="btn btn-primary btn-block mb-4">Controle Teste3</a>
            </div>
            <div class="col-md-4">
                <a href="#" class="btn btn-primary btn-block mb-4">Controle Teste4</a>
            </div>
        </div>
    </div>

    <!-- Adiciona o Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
