<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Impressoras</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-3">
        <a href="/" class="btn btn-secondary mb-3">Voltar para o Índice</a>
        <h2>Lista de Impressoras</h2>
        <ul class="list-group">
            {% for impressora in impressoras %}
                <li class="list-group-item">
                    Nome: {{ impressora.nome }} <br>
                    Setor: {{ setores[impressora.setor] }} <br>
                    Tipo: {{ impressora.tipo }}
                    <a href="/impressora/alterar/{{ impressora._id }}" class="btn btn-primary btn-sm float-right">Alterar</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
