<!DOCTYPE html>
<html>
<head>
    <title>Registros</title>
    <!-- Adiciona o Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Meu Sistema</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Controle de Impressões</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/registros">Ver Registros</a>
                    </li>
                </ul>
            </div>
        </nav>

        <h1 class="my-4">Registros</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome do Cliente</th>
                    <th>Páginas Impressas</th>
                    <th>Valor</th>
                    <th>Data do Registro</th>
                </tr>
            </thead>
            <tbody>
                {% for registro in registros %}
                <tr>
                    <td>{{ registro.nome_cliente }}</td>
                    <td>{{ registro.paginas_impressas }}</td>
                    <td>{{ registro.valor }}</td>
                    <td>{{ registro.data_registro.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Adiciona o Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
